<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
     PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
     "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

   <display-name>Onepoint Project 07 Open Edition</display-name>
   <description>
      Onepoint Project 07 Open Edition (c) 2007 OnePoint Software GmbH
   </description>

   <servlet>
      <servlet-name>OpProjectServlet</servlet-name>
      <servlet-class>onepoint.project.servlet.OpOpenServlet</servlet-class>
      <init-param>
         <param-name>html_title</param-name>
         <param-value>Onepoint Project</param-value>
      </init-param>
      <init-param>
         <param-name>webimages_path</param-name>
         <param-value>images</param-value>
      </init-param>
      <init-param>
         <param-name>applet_codebase</param-name>
         <param-value>applet</param-value>
      </init-param>
      <init-param>
         <param-name>applet_archive</param-name>
         <param-value>express4j-client-07-u2.jar,opproject-client-07-u2.jar,jcookie-0.8b.jar</param-value>
      </init-param>
   </servlet>

   <servlet-mapping>
      <servlet-name>OpProjectServlet</servlet-name>
      <url-pattern>/service</url-pattern>
   </servlet-mapping>
   <session-config>
      <session-timeout>720</session-timeout>
   </session-config>
</web-app>
